function Display.draw_game_panel 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 16
call String.new 1
push constant 42
call String.appendChar 2
push constant 42
call String.appendChar 2
push constant 42
call String.appendChar 2
push constant 42
call String.appendChar 2
push constant 42
call String.appendChar 2
push constant 42
call String.appendChar 2
push constant 42
call String.appendChar 2
push constant 42
call String.appendChar 2
push constant 42
call String.appendChar 2
push constant 42
call String.appendChar 2
push constant 42
call String.appendChar 2
push constant 42
call String.appendChar 2
push constant 42
call String.appendChar 2
push constant 42
call String.appendChar 2
push constant 42
call String.appendChar 2
push constant 42
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 2
push constant 3
call Output.moveCursor 2
pop temp 0
push constant 11
call String.new 1
push constant 68
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 104
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 3
push constant 5
call Output.moveCursor 2
pop temp 0
push constant 8
call String.new 1
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 87
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 108
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 5
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 16
call String.new 1
push constant 42
call String.appendChar 2
push constant 42
call String.appendChar 2
push constant 42
call String.appendChar 2
push constant 42
call String.appendChar 2
push constant 42
call String.appendChar 2
push constant 42
call String.appendChar 2
push constant 42
call String.appendChar 2
push constant 42
call String.appendChar 2
push constant 42
call String.appendChar 2
push constant 42
call String.appendChar 2
push constant 42
call String.appendChar 2
push constant 42
call String.appendChar 2
push constant 42
call String.appendChar 2
push constant 42
call String.appendChar 2
push constant 42
call String.appendChar 2
push constant 42
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 64
push constant 108
push constant 32
call Screen.drawCircle 3
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 64
push constant 108
push constant 30
call Screen.drawCircle 3
pop temp 0
push constant 32
push constant 88
call Math.multiply 2
push constant 3
add
call Display.draw_black_L 1
pop temp 0
push constant 32
push constant 88
call Math.multiply 2
push constant 4
add
call Display.draw_black_V 1
pop temp 0
push argument 0
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 32
push constant 112
call Math.multiply 2
push constant 3
add
call Display.draw_1 1
pop temp 0
goto IF_END0
label IF_FALSE0
push argument 0
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 32
push constant 112
call Math.multiply 2
push constant 3
add
call Display.draw_2 1
pop temp 0
goto IF_END1
label IF_FALSE1
push constant 32
push constant 112
call Math.multiply 2
push constant 3
add
call Display.draw_3 1
pop temp 0
label IF_END1
label IF_END0
push constant 14
push constant 3
call Output.moveCursor 2
pop temp 0
push constant 5
call String.new 1
push constant 84
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 16
push constant 3
call Output.moveCursor 2
pop temp 0
push constant 9
call String.new 1
push constant 91
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 93
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 116
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 18
push constant 3
call Output.moveCursor 2
pop temp 0
push constant 6
call String.new 1
push constant 91
call String.appendChar 2
push constant 81
call String.appendChar 2
push constant 93
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 116
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
return
function Display.draw_time 0
push constant 14
push constant 10
call Output.moveCursor 2
pop temp 0
push argument 0
push constant 9
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
call Output.printInt 1
pop temp 0
goto IF_END0
label IF_FALSE0
push constant 0
call Output.printInt 1
pop temp 0
push constant 14
push constant 11
call Output.moveCursor 2
pop temp 0
push argument 0
call Output.printInt 1
pop temp 0
label IF_END0
push constant 0
return
function Display.draw_title 0
call Screen.clearScreen 0
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 100
push constant 75
push constant 420
push constant 195
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 104
push constant 79
push constant 416
push constant 191
call Screen.drawRectangle 4
pop temp 0
push argument 0
call Display.draw_D 1
pop temp 0
push argument 0
push constant 1
add
call Display.draw_o 1
pop temp 0
push argument 0
push constant 2
add
call Display.draw_n 1
pop temp 0
push argument 0
push constant 3
add
call Display.draw_t 1
pop temp 0
push argument 0
push constant 4
add
call Display.draw_T 1
pop temp 0
push argument 0
push constant 5
add
call Display.draw_o 1
pop temp 0
push argument 0
push constant 6
add
call Display.draw_u 1
pop temp 0
push argument 0
push constant 7
add
call Display.draw_c 1
pop temp 0
push argument 0
push constant 8
add
call Display.draw_h 1
pop temp 0
push argument 0
push constant 9
add
call Display.draw_t 1
pop temp 0
push argument 0
push constant 10
add
call Display.draw_h 1
pop temp 0
push argument 0
push constant 11
add
call Display.draw_e 1
pop temp 0
push argument 0
push constant 12
add
call Display.draw_V 1
pop temp 0
push argument 0
push constant 13
add
call Display.draw_V 1
pop temp 0
push argument 0
push constant 14
add
call Display.draw_a 1
pop temp 0
push argument 0
push constant 15
add
call Display.draw_l 1
pop temp 0
push argument 0
push constant 16
add
call Display.draw_l 1
pop temp 0
push constant 12
push constant 20
call Output.moveCursor 2
pop temp 0
push constant 25
call String.new 1
push constant 80
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 14
push constant 20
call Output.moveCursor 2
pop temp 0
push constant 16
call String.new 1
push constant 80
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 112
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 22
push constant 59
call Output.moveCursor 2
pop temp 0
push constant 4
call String.new 1
push constant 118
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 48
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
return
function Display.draw_help 0
call Screen.clearScreen 0
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 10
push constant 10
push constant 501
push constant 246
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 14
push constant 14
push constant 497
push constant 242
call Screen.drawRectangle 4
pop temp 0
push constant 2
push constant 4
call Output.moveCursor 2
pop temp 0
push constant 55
call String.new 1
push constant 84
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 106
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 116
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 6
push constant 4
call Output.moveCursor 2
pop temp 0
push constant 34
call String.new 1
push constant 68
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 87
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 51
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 58
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 8
push constant 4
call Output.moveCursor 2
pop temp 0
push constant 38
call String.new 1
push constant 76
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 46
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 9
push constant 4
call Output.moveCursor 2
pop temp 0
push constant 52
call String.new 1
push constant 76
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 33
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 122
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 46
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 10
push constant 4
call Output.moveCursor 2
pop temp 0
push constant 30
call String.new 1
push constant 76
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 51
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 33
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 13
push constant 4
call Output.moveCursor 2
pop temp 0
push constant 56
call String.new 1
push constant 73
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 44
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 107
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 104
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 14
push constant 4
call Output.moveCursor 2
pop temp 0
push constant 17
call String.new 1
push constant 98
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 46
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 16
push constant 4
call Output.moveCursor 2
pop temp 0
push constant 36
call String.new 1
push constant 65
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 44
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 33
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 17
push constant 4
call Output.moveCursor 2
pop temp 0
push constant 53
call String.new 1
push constant 40
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 41
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 20
push constant 35
call Output.moveCursor 2
pop temp 0
push constant 25
call String.new 1
push constant 80
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
return
function Display.draw_before_start 0
call Screen.clearScreen 0
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 136
push constant 88
push constant 366
push constant 140
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 140
push constant 92
push constant 362
push constant 136
call Screen.drawRectangle 4
pop temp 0
push constant 10
push constant 20
call Output.moveCursor 2
pop temp 0
push constant 23
call String.new 1
push constant 80
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 116
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
return
function Display.draw_pass_level 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 180
push constant 80
push constant 440
push constant 200
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 184
push constant 84
push constant 436
push constant 196
call Screen.drawRectangle 4
pop temp 0
push constant 10
push constant 26
call Output.moveCursor 2
pop temp 0
push constant 16
call String.new 1
push constant 67
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 33
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 12
push constant 26
call Output.moveCursor 2
pop temp 0
push constant 18
call String.new 1
push constant 80
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 116
call String.appendChar 2
call Output.printString 1
pop temp 0
push argument 0
push constant 3
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 14
push constant 26
call Output.moveCursor 2
pop temp 0
push constant 27
call String.new 1
push constant 80
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 46
call String.appendChar 2
call Output.printString 1
pop temp 0
goto IF_END0
label IF_FALSE0
push constant 14
push constant 26
call Output.moveCursor 2
pop temp 0
push constant 23
call String.new 1
push constant 80
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 116
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 15
push constant 26
call Output.moveCursor 2
pop temp 0
push constant 12
call String.new 1
push constant 102
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 49
call String.appendChar 2
call Output.printString 1
pop temp 0
label IF_END0
push constant 0
return
function Display.draw_game_over 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 200
push constant 80
push constant 420
push constant 170
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 204
push constant 84
push constant 416
push constant 166
call Screen.drawRectangle 4
pop temp 0
push constant 10
push constant 30
call Output.moveCursor 2
pop temp 0
push constant 9
call String.new 1
push constant 71
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 12
push constant 30
call Output.moveCursor 2
pop temp 0
push constant 18
call String.new 1
push constant 80
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 116
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
return
function Display.draw_D 0
push constant 16384
push argument 0
add
pop static 0
push static 0
push constant 0
add
push constant 2047
call Memory.poke 2
pop temp 0
push static 0
push constant 32
add
push constant 3073
call Memory.poke 2
pop temp 0
push static 0
push constant 64
add
push constant 6145
call Memory.poke 2
pop temp 0
push static 0
push constant 96
add
push constant 4097
call Memory.poke 2
pop temp 0
push static 0
push constant 128
add
push constant 12785
call Memory.poke 2
pop temp 0
push static 0
push constant 160
add
push constant 8721
call Memory.poke 2
pop temp 0
push static 0
push constant 192
add
push constant 8721
call Memory.poke 2
pop temp 0
push static 0
push constant 224
add
push constant 8721
call Memory.poke 2
pop temp 0
push static 0
push constant 256
add
push constant 8721
call Memory.poke 2
pop temp 0
push static 0
push constant 288
add
push constant 8721
call Memory.poke 2
pop temp 0
push static 0
push constant 320
add
push constant 8721
call Memory.poke 2
pop temp 0
push static 0
push constant 352
add
push constant 12785
call Memory.poke 2
pop temp 0
push static 0
push constant 384
add
push constant 4097
call Memory.poke 2
pop temp 0
push static 0
push constant 416
add
push constant 6145
call Memory.poke 2
pop temp 0
push static 0
push constant 448
add
push constant 3073
call Memory.poke 2
pop temp 0
push static 0
push constant 480
add
push constant 2047
call Memory.poke 2
pop temp 0
push constant 0
return
function Display.draw_o 0
push constant 16384
push argument 0
add
pop static 0
push static 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 192
add
push constant 2032
call Memory.poke 2
pop temp 0
push static 0
push constant 224
add
push constant 3096
call Memory.poke 2
pop temp 0
push static 0
push constant 256
add
push constant 2056
call Memory.poke 2
pop temp 0
push static 0
push constant 288
add
push constant 2504
call Memory.poke 2
pop temp 0
push static 0
push constant 320
add
push constant 2376
call Memory.poke 2
pop temp 0
push static 0
push constant 352
add
push constant 2376
call Memory.poke 2
pop temp 0
push static 0
push constant 384
add
push constant 2504
call Memory.poke 2
pop temp 0
push static 0
push constant 416
add
push constant 2056
call Memory.poke 2
pop temp 0
push static 0
push constant 448
add
push constant 3096
call Memory.poke 2
pop temp 0
push static 0
push constant 480
add
push constant 2032
call Memory.poke 2
pop temp 0
push constant 0
return
function Display.draw_n 0
push constant 16384
push argument 0
add
pop static 0
push static 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 160
add
push constant 4088
call Memory.poke 2
pop temp 0
push static 0
push constant 192
add
push constant 6156
call Memory.poke 2
pop temp 0
push static 0
push constant 224
add
push constant 4100
call Memory.poke 2
pop temp 0
push static 0
push constant 256
add
push constant 4548
call Memory.poke 2
pop temp 0
push static 0
push constant 288
add
push constant 4644
call Memory.poke 2
pop temp 0
push static 0
push constant 320
add
push constant 4644
call Memory.poke 2
pop temp 0
push static 0
push constant 352
add
push constant 4644
call Memory.poke 2
pop temp 0
push static 0
push constant 384
add
push constant 4644
call Memory.poke 2
pop temp 0
push static 0
push constant 416
add
push constant 4644
call Memory.poke 2
pop temp 0
push static 0
push constant 448
add
push constant 4644
call Memory.poke 2
pop temp 0
push static 0
push constant 480
add
push constant 7740
call Memory.poke 2
pop temp 0
push constant 0
return
function Display.draw_t 0
push constant 16384
push argument 0
add
pop static 0
push static 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 32
add
push constant 480
call Memory.poke 2
pop temp 0
push static 0
push constant 64
add
push constant 288
call Memory.poke 2
pop temp 0
push static 0
push constant 96
add
push constant 288
call Memory.poke 2
pop temp 0
push static 0
push constant 128
add
push constant 7998
call Memory.poke 2
pop temp 0
push static 0
push constant 160
add
push constant 4098
call Memory.poke 2
pop temp 0
push static 0
push constant 192
add
push constant 4098
call Memory.poke 2
pop temp 0
push static 0
push constant 224
add
push constant 7998
call Memory.poke 2
pop temp 0
push static 0
push constant 256
add
push constant 288
call Memory.poke 2
pop temp 0
push static 0
push constant 288
add
push constant 288
call Memory.poke 2
pop temp 0
push static 0
push constant 320
add
push constant 288
call Memory.poke 2
pop temp 0
push static 0
push constant 352
add
push constant 288
call Memory.poke 2
pop temp 0
push static 0
push constant 384
add
push constant 16160
call Memory.poke 2
pop temp 0
push static 0
push constant 416
add
push constant 8224
call Memory.poke 2
pop temp 0
push static 0
push constant 448
add
push constant 12320
call Memory.poke 2
pop temp 0
push static 0
push constant 480
add
push constant 8160
call Memory.poke 2
pop temp 0
push constant 0
return
function Display.draw_T 0
push constant 16384
push argument 0
add
pop static 0
push static 0
push constant 0
add
push constant 32766
call Memory.poke 2
pop temp 0
push static 0
push constant 32
add
push constant 16386
call Memory.poke 2
pop temp 0
push static 0
push constant 64
add
push constant 16386
call Memory.poke 2
pop temp 0
push static 0
push constant 96
add
push constant 32382
call Memory.poke 2
pop temp 0
push static 0
push constant 128
add
push constant 576
call Memory.poke 2
pop temp 0
push static 0
push constant 160
add
push constant 576
call Memory.poke 2
pop temp 0
push static 0
push constant 192
add
push constant 576
call Memory.poke 2
pop temp 0
push static 0
push constant 224
add
push constant 576
call Memory.poke 2
pop temp 0
push static 0
push constant 256
add
push constant 576
call Memory.poke 2
pop temp 0
push static 0
push constant 288
add
push constant 576
call Memory.poke 2
pop temp 0
push static 0
push constant 320
add
push constant 576
call Memory.poke 2
pop temp 0
push static 0
push constant 352
add
push constant 576
call Memory.poke 2
pop temp 0
push static 0
push constant 384
add
push constant 576
call Memory.poke 2
pop temp 0
push static 0
push constant 416
add
push constant 576
call Memory.poke 2
pop temp 0
push static 0
push constant 448
add
push constant 576
call Memory.poke 2
pop temp 0
push static 0
push constant 480
add
push constant 960
call Memory.poke 2
pop temp 0
push constant 0
return
function Display.draw_u 0
push constant 16384
push argument 0
add
pop static 0
push static 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 192
add
push constant 7740
call Memory.poke 2
pop temp 0
push static 0
push constant 224
add
push constant 4644
call Memory.poke 2
pop temp 0
push static 0
push constant 256
add
push constant 4644
call Memory.poke 2
pop temp 0
push static 0
push constant 288
add
push constant 4644
call Memory.poke 2
pop temp 0
push static 0
push constant 320
add
push constant 4644
call Memory.poke 2
pop temp 0
push static 0
push constant 352
add
push constant 4964
call Memory.poke 2
pop temp 0
push static 0
push constant 384
add
push constant 4548
call Memory.poke 2
pop temp 0
push static 0
push constant 416
add
push constant 4100
call Memory.poke 2
pop temp 0
push static 0
push constant 448
add
push constant 6156
call Memory.poke 2
pop temp 0
push static 0
push constant 480
add
push constant 4088
call Memory.poke 2
pop temp 0
push constant 0
return
function Display.draw_c 0
push constant 16384
push argument 0
add
pop static 0
push static 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 160
add
push constant 8176
call Memory.poke 2
pop temp 0
push static 0
push constant 192
add
push constant 4120
call Memory.poke 2
pop temp 0
push static 0
push constant 224
add
push constant 4104
call Memory.poke 2
pop temp 0
push static 0
push constant 256
add
push constant 8072
call Memory.poke 2
pop temp 0
push static 0
push constant 288
add
push constant 200
call Memory.poke 2
pop temp 0
push static 0
push constant 320
add
push constant 72
call Memory.poke 2
pop temp 0
push static 0
push constant 352
add
push constant 200
call Memory.poke 2
pop temp 0
push static 0
push constant 384
add
push constant 8072
call Memory.poke 2
pop temp 0
push static 0
push constant 416
add
push constant 4104
call Memory.poke 2
pop temp 0
push static 0
push constant 448
add
push constant 4120
call Memory.poke 2
pop temp 0
push static 0
push constant 480
add
push constant 8176
call Memory.poke 2
pop temp 0
push constant 0
return
function Display.draw_h 0
push constant 16384
push argument 0
add
pop static 0
push static 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 32
add
push constant 30
call Memory.poke 2
pop temp 0
push static 0
push constant 64
add
push constant 18
call Memory.poke 2
pop temp 0
push static 0
push constant 96
add
push constant 18
call Memory.poke 2
pop temp 0
push static 0
push constant 128
add
push constant 18
call Memory.poke 2
pop temp 0
push static 0
push constant 160
add
push constant 18
call Memory.poke 2
pop temp 0
push static 0
push constant 192
add
push constant 18
call Memory.poke 2
pop temp 0
push static 0
push constant 224
add
push constant 2002
call Memory.poke 2
pop temp 0
push static 0
push constant 256
add
push constant 3122
call Memory.poke 2
pop temp 0
push static 0
push constant 288
add
push constant 6162
call Memory.poke 2
pop temp 0
push static 0
push constant 320
add
push constant 4546
call Memory.poke 2
pop temp 0
push static 0
push constant 352
add
push constant 4642
call Memory.poke 2
pop temp 0
push static 0
push constant 384
add
push constant 4626
call Memory.poke 2
pop temp 0
push static 0
push constant 416
add
push constant 4626
call Memory.poke 2
pop temp 0
push static 0
push constant 448
add
push constant 4626
call Memory.poke 2
pop temp 0
push static 0
push constant 480
add
push constant 7710
call Memory.poke 2
pop temp 0
push constant 0
return
function Display.draw_e 0
push constant 16384
push argument 0
add
pop static 0
push static 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 160
add
push constant 2032
call Memory.poke 2
pop temp 0
push static 0
push constant 192
add
push constant 3096
call Memory.poke 2
pop temp 0
push static 0
push constant 224
add
push constant 6596
call Memory.poke 2
pop temp 0
push static 0
push constant 256
add
push constant 5092
call Memory.poke 2
pop temp 0
push static 0
push constant 288
add
push constant 6148
call Memory.poke 2
pop temp 0
push static 0
push constant 320
add
push constant 2020
call Memory.poke 2
pop temp 0
push static 0
push constant 352
add
push constant 36
call Memory.poke 2
pop temp 0
push static 0
push constant 384
add
push constant 8164
call Memory.poke 2
pop temp 0
push static 0
push constant 416
add
push constant 4108
call Memory.poke 2
pop temp 0
push static 0
push constant 448
add
push constant 8184
call Memory.poke 2
pop temp 0
push static 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Display.draw_V 0
push constant 16384
push argument 0
add
pop static 0
push static 0
push constant 0
add
push constant 4081
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 32
add
push constant 28663
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 64
add
push constant 26599
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 96
add
push constant 14317
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 128
add
push constant 18450
call Memory.poke 2
pop temp 0
push static 0
push constant 160
add
push constant 19506
call Memory.poke 2
pop temp 0
push static 0
push constant 192
add
push constant 25634
call Memory.poke 2
pop temp 0
push static 0
push constant 224
add
push constant 9830
call Memory.poke 2
pop temp 0
push static 0
push constant 256
add
push constant 12868
call Memory.poke 2
pop temp 0
push static 0
push constant 288
add
push constant 4676
call Memory.poke 2
pop temp 0
push static 0
push constant 320
add
push constant 6540
call Memory.poke 2
pop temp 0
push static 0
push constant 352
add
push constant 2440
call Memory.poke 2
pop temp 0
push static 0
push constant 384
add
push constant 3096
call Memory.poke 2
pop temp 0
push static 0
push constant 416
add
push constant 1040
call Memory.poke 2
pop temp 0
push static 0
push constant 448
add
push constant 1584
call Memory.poke 2
pop temp 0
push static 0
push constant 480
add
push constant 448
call Memory.poke 2
pop temp 0
push constant 0
return
function Display.draw_a 0
push constant 16384
push argument 0
add
pop static 0
push static 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 192
add
push constant 8184
call Memory.poke 2
pop temp 0
push static 0
push constant 224
add
push constant 12300
call Memory.poke 2
pop temp 0
push static 0
push constant 256
add
push constant 8196
call Memory.poke 2
pop temp 0
push static 0
push constant 288
add
push constant 9188
call Memory.poke 2
pop temp 0
push static 0
push constant 320
add
push constant 25124
call Memory.poke 2
pop temp 0
push static 0
push constant 352
add
push constant 16932
call Memory.poke 2
pop temp 0
push static 0
push constant 384
add
push constant 16868
call Memory.poke 2
pop temp 0
push static 0
push constant 416
add
push constant 18436
call Memory.poke 2
pop temp 0
push static 0
push constant 448
add
push constant 19980
call Memory.poke 2
pop temp 0
push static 0
push constant 480
add
push constant 12792
call Memory.poke 2
pop temp 0
push constant 0
return
function Display.draw_l 0
push constant 16384
push argument 0
add
pop static 0
push static 0
push constant 0
add
push constant 480
call Memory.poke 2
pop temp 0
push static 0
push constant 32
add
push constant 288
call Memory.poke 2
pop temp 0
push static 0
push constant 64
add
push constant 288
call Memory.poke 2
pop temp 0
push static 0
push constant 96
add
push constant 288
call Memory.poke 2
pop temp 0
push static 0
push constant 128
add
push constant 288
call Memory.poke 2
pop temp 0
push static 0
push constant 160
add
push constant 288
call Memory.poke 2
pop temp 0
push static 0
push constant 192
add
push constant 288
call Memory.poke 2
pop temp 0
push static 0
push constant 224
add
push constant 288
call Memory.poke 2
pop temp 0
push static 0
push constant 256
add
push constant 288
call Memory.poke 2
pop temp 0
push static 0
push constant 288
add
push constant 288
call Memory.poke 2
pop temp 0
push static 0
push constant 320
add
push constant 288
call Memory.poke 2
pop temp 0
push static 0
push constant 352
add
push constant 288
call Memory.poke 2
pop temp 0
push static 0
push constant 384
add
push constant 288
call Memory.poke 2
pop temp 0
push static 0
push constant 416
add
push constant 288
call Memory.poke 2
pop temp 0
push static 0
push constant 448
add
push constant 288
call Memory.poke 2
pop temp 0
push static 0
push constant 480
add
push constant 480
call Memory.poke 2
pop temp 0
push constant 0
return
function Display.draw_black_L 0
push constant 16384
push argument 0
add
pop static 0
push static 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 32
add
push constant 112
call Memory.poke 2
pop temp 0
push static 0
push constant 64
add
push constant 112
call Memory.poke 2
pop temp 0
push static 0
push constant 96
add
push constant 112
call Memory.poke 2
pop temp 0
push static 0
push constant 128
add
push constant 112
call Memory.poke 2
pop temp 0
push static 0
push constant 160
add
push constant 112
call Memory.poke 2
pop temp 0
push static 0
push constant 192
add
push constant 112
call Memory.poke 2
pop temp 0
push static 0
push constant 224
add
push constant 112
call Memory.poke 2
pop temp 0
push static 0
push constant 256
add
push constant 112
call Memory.poke 2
pop temp 0
push static 0
push constant 288
add
push constant 112
call Memory.poke 2
pop temp 0
push static 0
push constant 320
add
push constant 112
call Memory.poke 2
pop temp 0
push static 0
push constant 352
add
push constant 112
call Memory.poke 2
pop temp 0
push static 0
push constant 384
add
push constant 112
call Memory.poke 2
pop temp 0
push static 0
push constant 416
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 448
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 480
add
push constant 32736
call Memory.poke 2
pop temp 0
push constant 0
return
function Display.draw_black_V 0
push constant 16384
push argument 0
add
pop static 0
push static 0
push constant 0
add
push constant 4081
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 32
add
push constant 4081
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 64
add
push constant 2017
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 96
add
push constant 2017
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 128
add
push constant 30750
call Memory.poke 2
pop temp 0
push static 0
push constant 160
add
push constant 31806
call Memory.poke 2
pop temp 0
push static 0
push constant 192
add
push constant 15420
call Memory.poke 2
pop temp 0
push static 0
push constant 224
add
push constant 15420
call Memory.poke 2
pop temp 0
push static 0
push constant 256
add
push constant 7800
call Memory.poke 2
pop temp 0
push static 0
push constant 288
add
push constant 7800
call Memory.poke 2
pop temp 0
push static 0
push constant 320
add
push constant 3696
call Memory.poke 2
pop temp 0
push static 0
push constant 352
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 384
add
push constant 2016
call Memory.poke 2
pop temp 0
push static 0
push constant 416
add
push constant 2016
call Memory.poke 2
pop temp 0
push static 0
push constant 448
add
push constant 960
call Memory.poke 2
pop temp 0
push static 0
push constant 480
add
push constant 960
call Memory.poke 2
pop temp 0
push constant 0
return
function Display.draw_1 0
push constant 16384
push argument 0
add
pop static 0
push static 0
push constant 0
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 32
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 64
add
push constant 2048
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 96
add
push constant 2048
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 128
add
push constant 2048
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 416
add
push constant 2048
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 448
add
push constant 2048
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 480
add
push constant 2048
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 1
add
pop static 0
push static 0
push constant 0
add
push constant 15
call Memory.poke 2
pop temp 0
push static 0
push constant 32
add
push constant 15
call Memory.poke 2
pop temp 0
push static 0
push constant 64
add
push constant 15
call Memory.poke 2
pop temp 0
push static 0
push constant 96
add
push constant 15
call Memory.poke 2
pop temp 0
push static 0
push constant 128
add
push constant 15
call Memory.poke 2
pop temp 0
push static 0
push constant 160
add
push constant 15
call Memory.poke 2
pop temp 0
push static 0
push constant 192
add
push constant 15
call Memory.poke 2
pop temp 0
push static 0
push constant 224
add
push constant 15
call Memory.poke 2
pop temp 0
push static 0
push constant 256
add
push constant 15
call Memory.poke 2
pop temp 0
push static 0
push constant 288
add
push constant 15
call Memory.poke 2
pop temp 0
push static 0
push constant 320
add
push constant 15
call Memory.poke 2
pop temp 0
push static 0
push constant 352
add
push constant 15
call Memory.poke 2
pop temp 0
push static 0
push constant 384
add
push constant 15
call Memory.poke 2
pop temp 0
push static 0
push constant 416
add
push constant 511
call Memory.poke 2
pop temp 0
push static 0
push constant 448
add
push constant 511
call Memory.poke 2
pop temp 0
push static 0
push constant 480
add
push constant 511
call Memory.poke 2
pop temp 0
push constant 0
return
function Display.draw_2 0
push constant 16384
push argument 0
add
pop static 0
push static 0
push constant 0
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 32
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 64
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 96
add
push constant 2048
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 128
add
push constant 30720
call Memory.poke 2
pop temp 0
push static 0
push constant 160
add
push constant 14336
call Memory.poke 2
pop temp 0
push static 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 224
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 256
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 288
add
push constant 2048
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 320
add
push constant 30720
call Memory.poke 2
pop temp 0
push static 0
push constant 352
add
push constant 14336
call Memory.poke 2
pop temp 0
push static 0
push constant 384
add
push constant 14336
call Memory.poke 2
pop temp 0
push static 0
push constant 416
add
push constant 2048
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 448
add
push constant 2048
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 480
add
push constant 2048
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 1
add
pop static 0
push static 0
push constant 0
add
push constant 127
call Memory.poke 2
pop temp 0
push static 0
push constant 32
add
push constant 255
call Memory.poke 2
pop temp 0
push static 0
push constant 64
add
push constant 511
call Memory.poke 2
pop temp 0
push static 0
push constant 96
add
push constant 480
call Memory.poke 2
pop temp 0
push static 0
push constant 128
add
push constant 448
call Memory.poke 2
pop temp 0
push static 0
push constant 160
add
push constant 448
call Memory.poke 2
pop temp 0
push static 0
push constant 192
add
push constant 480
call Memory.poke 2
pop temp 0
push static 0
push constant 224
add
push constant 511
call Memory.poke 2
pop temp 0
push static 0
push constant 256
add
push constant 255
call Memory.poke 2
pop temp 0
push static 0
push constant 288
add
push constant 127
call Memory.poke 2
pop temp 0
push static 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 416
add
push constant 511
call Memory.poke 2
pop temp 0
push static 0
push constant 448
add
push constant 511
call Memory.poke 2
pop temp 0
push static 0
push constant 480
add
push constant 511
call Memory.poke 2
pop temp 0
push constant 0
return
function Display.draw_3 0
push constant 16384
push argument 0
add
pop static 0
push static 0
push constant 0
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 32
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 64
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 224
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 256
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 288
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 416
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 448
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 480
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 1
add
pop static 0
push static 0
push constant 0
add
push constant 511
call Memory.poke 2
pop temp 0
push static 0
push constant 32
add
push constant 511
call Memory.poke 2
pop temp 0
push static 0
push constant 64
add
push constant 511
call Memory.poke 2
pop temp 0
push static 0
push constant 96
add
push constant 448
call Memory.poke 2
pop temp 0
push static 0
push constant 128
add
push constant 448
call Memory.poke 2
pop temp 0
push static 0
push constant 160
add
push constant 448
call Memory.poke 2
pop temp 0
push static 0
push constant 192
add
push constant 448
call Memory.poke 2
pop temp 0
push static 0
push constant 224
add
push constant 511
call Memory.poke 2
pop temp 0
push static 0
push constant 256
add
push constant 511
call Memory.poke 2
pop temp 0
push static 0
push constant 288
add
push constant 511
call Memory.poke 2
pop temp 0
push static 0
push constant 320
add
push constant 448
call Memory.poke 2
pop temp 0
push static 0
push constant 352
add
push constant 448
call Memory.poke 2
pop temp 0
push static 0
push constant 384
add
push constant 448
call Memory.poke 2
pop temp 0
push static 0
push constant 416
add
push constant 511
call Memory.poke 2
pop temp 0
push static 0
push constant 448
add
push constant 511
call Memory.poke 2
pop temp 0
push static 0
push constant 480
add
push constant 511
call Memory.poke 2
pop temp 0
push constant 0
return
function Display.draw_upArrow 0
push constant 16384
push argument 0
add
pop static 0
push static 0
push constant 0
add
push constant 960
call Memory.poke 2
pop temp 0
push static 0
push constant 32
add
push constant 2016
call Memory.poke 2
pop temp 0
push static 0
push constant 64
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 96
add
push constant 7224
call Memory.poke 2
pop temp 0
push static 0
push constant 128
add
push constant 14364
call Memory.poke 2
pop temp 0
push static 0
push constant 160
add
push constant 28686
call Memory.poke 2
pop temp 0
push static 0
push constant 192
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 224
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 256
add
push constant 13261
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 288
add
push constant 961
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 320
add
push constant 961
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 352
add
push constant 7224
call Memory.poke 2
pop temp 0
push static 0
push constant 384
add
push constant 7224
call Memory.poke 2
pop temp 0
push static 0
push constant 416
add
push constant 7224
call Memory.poke 2
pop temp 0
push static 0
push constant 448
add
push constant 7224
call Memory.poke 2
pop temp 0
push static 0
push constant 480
add
push constant 7224
call Memory.poke 2
pop temp 0
push static 0
push constant 32
push constant 16
call Math.multiply 2
add
pop static 0
push static 0
push constant 0
add
push constant 7224
call Memory.poke 2
pop temp 0
push static 0
push constant 32
add
push constant 7224
call Memory.poke 2
pop temp 0
push static 0
push constant 64
add
push constant 7224
call Memory.poke 2
pop temp 0
push static 0
push constant 96
add
push constant 7224
call Memory.poke 2
pop temp 0
push static 0
push constant 128
add
push constant 7224
call Memory.poke 2
pop temp 0
push static 0
push constant 160
add
push constant 7224
call Memory.poke 2
pop temp 0
push static 0
push constant 192
add
push constant 7224
call Memory.poke 2
pop temp 0
push static 0
push constant 224
add
push constant 7224
call Memory.poke 2
pop temp 0
push static 0
push constant 256
add
push constant 7224
call Memory.poke 2
pop temp 0
push static 0
push constant 288
add
push constant 7224
call Memory.poke 2
pop temp 0
push static 0
push constant 320
add
push constant 7224
call Memory.poke 2
pop temp 0
push static 0
push constant 352
add
push constant 7224
call Memory.poke 2
pop temp 0
push static 0
push constant 384
add
push constant 7224
call Memory.poke 2
pop temp 0
push static 0
push constant 416
add
push constant 8184
call Memory.poke 2
pop temp 0
push static 0
push constant 448
add
push constant 8184
call Memory.poke 2
pop temp 0
push static 0
push constant 480
add
push constant 8184
call Memory.poke 2
pop temp 0
push constant 0
return
function Display.draw_downArrow 0
push constant 16384
push argument 0
add
pop static 0
push static 0
push constant 0
add
push constant 8184
call Memory.poke 2
pop temp 0
push static 0
push constant 32
add
push constant 8184
call Memory.poke 2
pop temp 0
push static 0
push constant 64
add
push constant 8184
call Memory.poke 2
pop temp 0
push static 0
push constant 96
add
push constant 7224
call Memory.poke 2
pop temp 0
push static 0
push constant 128
add
push constant 7224
call Memory.poke 2
pop temp 0
push static 0
push constant 160
add
push constant 7224
call Memory.poke 2
pop temp 0
push static 0
push constant 192
add
push constant 7224
call Memory.poke 2
pop temp 0
push static 0
push constant 224
add
push constant 7224
call Memory.poke 2
pop temp 0
push static 0
push constant 256
add
push constant 7224
call Memory.poke 2
pop temp 0
push static 0
push constant 288
add
push constant 7224
call Memory.poke 2
pop temp 0
push static 0
push constant 320
add
push constant 7224
call Memory.poke 2
pop temp 0
push static 0
push constant 352
add
push constant 7224
call Memory.poke 2
pop temp 0
push static 0
push constant 384
add
push constant 7224
call Memory.poke 2
pop temp 0
push static 0
push constant 416
add
push constant 7224
call Memory.poke 2
pop temp 0
push static 0
push constant 448
add
push constant 7224
call Memory.poke 2
pop temp 0
push static 0
push constant 480
add
push constant 7224
call Memory.poke 2
pop temp 0
push static 0
push constant 32
push constant 16
call Math.multiply 2
add
pop static 0
push static 0
push constant 0
add
push constant 7224
call Memory.poke 2
pop temp 0
push static 0
push constant 32
add
push constant 7224
call Memory.poke 2
pop temp 0
push static 0
push constant 64
add
push constant 7224
call Memory.poke 2
pop temp 0
push static 0
push constant 96
add
push constant 7224
call Memory.poke 2
pop temp 0
push static 0
push constant 128
add
push constant 7224
call Memory.poke 2
pop temp 0
push static 0
push constant 160
add
push constant 961
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 192
add
push constant 961
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 224
add
push constant 13261
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 256
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 288
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 320
add
push constant 28686
call Memory.poke 2
pop temp 0
push static 0
push constant 352
add
push constant 14364
call Memory.poke 2
pop temp 0
push static 0
push constant 384
add
push constant 7224
call Memory.poke 2
pop temp 0
push static 0
push constant 416
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 448
add
push constant 2016
call Memory.poke 2
pop temp 0
push static 0
push constant 480
add
push constant 960
call Memory.poke 2
pop temp 0
push constant 0
return
function Display.draw_leftArrow 0
push constant 16384
push argument 0
add
pop static 0
push static 0
push constant 0
add
push constant 1984
call Memory.poke 2
pop temp 0
push static 0
push constant 32
add
push constant 2016
call Memory.poke 2
pop temp 0
push static 0
push constant 64
add
push constant 1648
call Memory.poke 2
pop temp 0
push static 0
push constant 96
add
push constant 456
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 128
add
push constant 228
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 160
add
push constant 242
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 192
add
push constant 7
call Memory.poke 2
pop temp 0
push static 0
push constant 224
add
push constant 7
call Memory.poke 2
pop temp 0
push static 0
push constant 256
add
push constant 7
call Memory.poke 2
pop temp 0
push static 0
push constant 288
add
push constant 7
call Memory.poke 2
pop temp 0
push static 0
push constant 320
add
push constant 242
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 352
add
push constant 228
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 384
add
push constant 456
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 416
add
push constant 1648
call Memory.poke 2
pop temp 0
push static 0
push constant 448
add
push constant 2016
call Memory.poke 2
pop temp 0
push static 0
push constant 480
add
push constant 1984
call Memory.poke 2
pop temp 0
push static 0
push constant 1
add
pop static 0
push static 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 96
add
push constant 4095
call Memory.poke 2
pop temp 0
push static 0
push constant 128
add
push constant 4095
call Memory.poke 2
pop temp 0
push static 0
push constant 160
add
push constant 4095
call Memory.poke 2
pop temp 0
push static 0
push constant 192
add
push constant 3584
call Memory.poke 2
pop temp 0
push static 0
push constant 224
add
push constant 3584
call Memory.poke 2
pop temp 0
push static 0
push constant 256
add
push constant 3584
call Memory.poke 2
pop temp 0
push static 0
push constant 288
add
push constant 3584
call Memory.poke 2
pop temp 0
push static 0
push constant 320
add
push constant 4095
call Memory.poke 2
pop temp 0
push static 0
push constant 352
add
push constant 4095
call Memory.poke 2
pop temp 0
push static 0
push constant 384
add
push constant 4095
call Memory.poke 2
pop temp 0
push static 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Display.draw_rightArrow 0
push constant 16384
push argument 0
add
pop static 0
push static 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 96
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 128
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 160
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 192
add
push constant 112
call Memory.poke 2
pop temp 0
push static 0
push constant 224
add
push constant 112
call Memory.poke 2
pop temp 0
push static 0
push constant 256
add
push constant 112
call Memory.poke 2
pop temp 0
push static 0
push constant 288
add
push constant 112
call Memory.poke 2
pop temp 0
push static 0
push constant 320
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 352
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 384
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 1
add
pop static 0
push static 0
push constant 0
add
push constant 992
call Memory.poke 2
pop temp 0
push static 0
push constant 32
add
push constant 2016
call Memory.poke 2
pop temp 0
push static 0
push constant 64
add
push constant 3680
call Memory.poke 2
pop temp 0
push static 0
push constant 96
add
push constant 7295
call Memory.poke 2
pop temp 0
push static 0
push constant 128
add
push constant 14591
call Memory.poke 2
pop temp 0
push static 0
push constant 160
add
push constant 28927
call Memory.poke 2
pop temp 0
push static 0
push constant 192
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 224
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 256
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 288
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 320
add
push constant 28927
call Memory.poke 2
pop temp 0
push static 0
push constant 352
add
push constant 14591
call Memory.poke 2
pop temp 0
push static 0
push constant 384
add
push constant 7295
call Memory.poke 2
pop temp 0
push static 0
push constant 416
add
push constant 3680
call Memory.poke 2
pop temp 0
push static 0
push constant 448
add
push constant 2016
call Memory.poke 2
pop temp 0
push static 0
push constant 480
add
push constant 992
call Memory.poke 2
pop temp 0
push constant 0
return
function Display.draw_black_upArrow 0
push constant 16384
push argument 0
add
pop static 0
push static 0
push constant 0
add
push constant 960
call Memory.poke 2
pop temp 0
push static 0
push constant 32
add
push constant 2016
call Memory.poke 2
pop temp 0
push static 0
push constant 64
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 96
add
push constant 8184
call Memory.poke 2
pop temp 0
push static 0
push constant 128
add
push constant 16380
call Memory.poke 2
pop temp 0
push static 0
push constant 160
add
push constant 32766
call Memory.poke 2
pop temp 0
push static 0
push constant 192
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 224
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 256
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 288
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 320
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 352
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 384
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 416
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 448
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 480
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 32
push constant 16
call Math.multiply 2
add
pop static 0
push static 0
push constant 0
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 32
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 64
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 96
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 128
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 160
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 192
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 224
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 256
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 288
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 320
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 352
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 384
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 416
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 448
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 480
add
push constant 4080
call Memory.poke 2
pop temp 0
push constant 0
return
function Display.draw_black_downArrow 0
push constant 16384
push argument 0
add
pop static 0
push static 0
push constant 0
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 32
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 64
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 96
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 128
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 160
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 192
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 224
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 256
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 288
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 320
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 352
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 384
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 416
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 448
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 480
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 32
push constant 16
call Math.multiply 2
add
pop static 0
push static 0
push constant 0
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 32
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 64
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 96
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 128
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 160
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 192
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 224
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 256
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 288
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 320
add
push constant 32766
call Memory.poke 2
pop temp 0
push static 0
push constant 352
add
push constant 16380
call Memory.poke 2
pop temp 0
push static 0
push constant 384
add
push constant 8184
call Memory.poke 2
pop temp 0
push static 0
push constant 416
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 448
add
push constant 2016
call Memory.poke 2
pop temp 0
push static 0
push constant 480
add
push constant 960
call Memory.poke 2
pop temp 0
push constant 0
return
function Display.draw_black_leftArrow 0
push constant 16384
push argument 0
add
pop static 0
push static 0
push constant 0
add
push constant 960
call Memory.poke 2
pop temp 0
push static 0
push constant 32
add
push constant 992
call Memory.poke 2
pop temp 0
push static 0
push constant 64
add
push constant 1008
call Memory.poke 2
pop temp 0
push static 0
push constant 96
add
push constant 1016
call Memory.poke 2
pop temp 0
push static 0
push constant 128
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 160
add
push constant 2
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 192
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 224
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 256
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 288
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 320
add
push constant 2
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 352
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 384
add
push constant 1016
call Memory.poke 2
pop temp 0
push static 0
push constant 416
add
push constant 1008
call Memory.poke 2
pop temp 0
push static 0
push constant 448
add
push constant 992
call Memory.poke 2
pop temp 0
push static 0
push constant 480
add
push constant 960
call Memory.poke 2
pop temp 0
push static 0
push constant 1
add
pop static 0
push static 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 128
add
push constant 16383
call Memory.poke 2
pop temp 0
push static 0
push constant 160
add
push constant 16383
call Memory.poke 2
pop temp 0
push static 0
push constant 192
add
push constant 16383
call Memory.poke 2
pop temp 0
push static 0
push constant 224
add
push constant 16383
call Memory.poke 2
pop temp 0
push static 0
push constant 256
add
push constant 16383
call Memory.poke 2
pop temp 0
push static 0
push constant 288
add
push constant 16383
call Memory.poke 2
pop temp 0
push static 0
push constant 320
add
push constant 16383
call Memory.poke 2
pop temp 0
push static 0
push constant 352
add
push constant 16383
call Memory.poke 2
pop temp 0
push static 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Display.draw_black_rightArrow 0
push constant 16384
push argument 0
add
pop static 0
push static 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 128
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 160
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 192
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 224
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 256
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 288
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 320
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 352
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 1
add
pop static 0
push static 0
push constant 0
add
push constant 960
call Memory.poke 2
pop temp 0
push static 0
push constant 32
add
push constant 1984
call Memory.poke 2
pop temp 0
push static 0
push constant 64
add
push constant 4032
call Memory.poke 2
pop temp 0
push static 0
push constant 96
add
push constant 8128
call Memory.poke 2
pop temp 0
push static 0
push constant 128
add
push constant 16383
call Memory.poke 2
pop temp 0
push static 0
push constant 160
add
push constant 32767
call Memory.poke 2
pop temp 0
push static 0
push constant 192
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 224
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 256
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 288
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push static 0
push constant 320
add
push constant 32767
call Memory.poke 2
pop temp 0
push static 0
push constant 352
add
push constant 16383
call Memory.poke 2
pop temp 0
push static 0
push constant 384
add
push constant 8128
call Memory.poke 2
pop temp 0
push static 0
push constant 416
add
push constant 4032
call Memory.poke 2
pop temp 0
push static 0
push constant 448
add
push constant 1984
call Memory.poke 2
pop temp 0
push static 0
push constant 480
add
push constant 960
call Memory.poke 2
pop temp 0
push constant 0
return
